[submodule "Patrones de Diseño"]
	path = "Patrones de Diseño"
	url = https://github.com/McBikan/Patrones-de-Dise-o
[submodule "Uso de JUnit5 y Rspec"]
	path = "Uso de JUnit5 y Rspec"
	url = https://github.com/McBikan/Uso-de-JUnit5-y-Rspec
[submodule "PC1 Parte1 Hasta Heroku"]
	path = "PC1 hasta Heroku"
	url = https://github.com/McBikan/PC1Software



 
 
